<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fernando's Portfolio</title>
    <link rel = "stylesheet" href = "static\style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="https://fonts.cdnfonts.com/css/minecraft-4" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/minecraftia" type="text/css"/>
    <link rel ="scripts" type="text/javascript" href="static\scripts.js">

</head>
<body>
    <header>
        <div class = "ring-container">
            <div class="outerest-ring">
                <div class="outer-ring">
                    <div class="ring">
                        <div class="bring1">
                            <div class="bring2">
                                <div class="bring3">
                                    <div class="bring4">
                                        <div class="inner-ring">
                                            <div class = "innerest-ring"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        
    
        
        
        
    </header>
    <main>
        <div class="semi-circle"></div>
        <div class="joker">
            <img src="/static/images/p5_joker.png" alt="your-image-description">
        </div>
        <a href="https://github.com" class="github-button">Visit GitHub</a>
        <a href="https://linkedin.com" class="linkedIn">Visit LinkedIn</a>
        
        
        <a href = "/about.html" class = "speech-bubble">About Me
            <div class="pulsing-circle"></div>
        </a>


    </main>
    
        
        
        
    
    
    
  </body>
  </html>